.node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}

.node.input rect {
    fill: #caf2bd;
}

.node.input.empty-input rect {
    fill: #f2bdca;
}

div.controls {
    text-align: center;
}

div.controls input[type=number] {
    width: 8em;
}
